section(class="contacts")
    div(class="contacts-container")
        div(class="contacts-data-box")
            h2 Контакты
            div(class="tel-box")
                |8 800 034-23-34
                br
                |8 495 034-23-34
            div(class="address")
                |Московская обл. г. Балашиха,
                br
                |пер. Столовой, д.23, кор. 34
            div(class="email") Info@stroika.ru