footer
    div(class="footer-container")
        div(class="first-box")
            div(class="logo-wrapper")
                img(src="img/logo-footer.png" alt="Logo")
                div(class="logo-title-box")
                    h1 Granit
                    p Доставка нерудных материалов
            div(class="copyright") 2016 Ivanov D.
        div(class="feedback-wrapper")
            div(class="feedback-title-box")
                div(class="feedback-tel") 8 800 342-13-33
                p Бесплатный звонок по России
            form(class="feedback-form-header" id="feedback-form-header" action="")
                button(class="feedback-submit") Обратный звонок