nav(class="nav-header-wrapper")
    ul
        li
            a(href="#") Главная
        li
            a(href="#") Каталог
        li
            a(href="#") Услуги
        li
            a(href="#") Доставка
        li
            a(href="#") О компании
        li
            a(href="#") Контакты
    div(id="menu")
        button(class="c-humburger c-humburger-line")
            span