section(class="slider-header")
    div(class="delivery-info-wrapper")
        div(class="delivery-info-content")
            div(class="description-box")
                h2 Быстрая доставка
                p   
                    |бетона, щебня, песка 
                    br
                    |других нерудных материалов
                    br
                    |по Москве и Московской области
        nav(class="delivery-info-links")
            button Подробнее о доставке
            p или
                a(href="#") перейти в каталог