doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport"
            content="width=device-width, initial-scale=1.0")
        title Granit
        link(rel="stylesheet"
            href="./css/reset.css")
        link(rel="stylesheet"
            href="./css/style.css")
    body    
        include _header.pug
        include _nav_header.pug
        include _slider.pug
        include _availability.pug
        include _our_advantages.pug
        include _popular_goods.pug
        include _our_services.pug
        include _contacts.pug
        include footer.pug
