.slider-header {
    z-index: 1;
    position: relative;
    background-color: yellow;
    height: 70%;
    top: -30px;
    background-image: url('../../img/slider/1.png');
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: center center;
    .delivery-info-wrapper {
        max-width: 940px;
        padding: 0 10px;
        margin: 0 auto;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        .delivery-info-content {
            background-color: rgba(255, 255, 255, 0.7);
            padding: 10px;
            .description-box {
                h2 {
                    font-size: 36px;
                    color: rgb(77, 70, 70);
                    font-weight: bold;
                    text-transform: uppercase;
                }
                p {
                    margin-top: 40px;
                    font-size: 14px;
                    line-height: 22px;
                    color: rgb(77, 77, 77);
                    font-weight: 600;
                }
            }
        }
        .delivery-info-links {
            margin-top: 60px;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            button {
                width: 200px;
                height: 50px;
                background-color: #ffcc00;
                border: none;
                cursor: pointer;
                font-size: 14px;
                font-weight: 500;
            }
            p {
                font-size: 13px;
                color: black;
                a {
                    margin-left: 12px;
                    text-decoration: none;
                    font-weight: bold;
                    color: black;
                    border-bottom: 1px solid gray;
                }
            }
        }
    }
}