.landing-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 25px auto 0 auto;
    max-width: 940px;
    .logo-wrapper {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        .logo-title-box {
            margin-left: 10px;
            h1 {
                font-size: 20px;
                letter-spacing: 2px;
                text-transform: uppercase;
                font-weight: bold;
            }
            p {
                font-size: 11px;
                color: #969696;
                font-weight: 300;
            }
        }
    }
    .feedback-wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-end;
        .feedback-title-box {
            text-align: right;
            .feedback-tel {
                margin-left: 20px;
                font-size: 18px;
                font-weight: bold;
            }
            p {
                font-size: 11px;
                color: #969696;
                font-weight: 300;
            }
        }
        .feedback-form-header {
            button {
            width: 160px;
            height: 40px;
            margin-left: 20px;
            background: inherit;
            border: 2px solid black;
            font-size: 12px;
            color: #5d5d5d;
            font-weight: 600;
            cursor: pointer;
            }
        }
    }
}

@media screen and (max-width: 700px) {
    .landing-header .feedback-wrapper {
        & .feedback-title-box {
            margin-bottom: 10px;
        };
    }
}

@media screen and (max-width: 500px) {
    .landing-header {
        flex-direction: column;
        justify-content: center;
    }
}