html,
body {
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    transition: all ease 1s;
}

@import 'header';
@import 'nav_menu';
@import 'slider';
@import 'availability';
@import 'our_advantages';
@import 'popular_goods';
@import 'our_services';
@import 'contacts';
@import 'footer';

/* Remove border and padding in Firefox */
::-moz-focus-outer,
::-moz-focus-inner {
    border: 0;
    padding: 0;
}